<section id="scroller" class="overflow">
  <div id="content">
    <!-- Content start -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <!-- <div class="fb-page" data-href="https://www.facebook.com/BaDMouth2/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BaDMouth2/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BaDMouth2/">몰래카메라</a></blockquote></div> -->

    <div class="intro">
      <p>Facechat은 페이스북 가입자들과 랜덤</p>
      <p>으로 채팅을 하며 새로운 친구를 만드는</p>
      <p>공간입니다. 더불어 채팅 중인 상대방과</p>
      <p>페이스북을 공유함으로써 더욱</p>
      <p>친해지기 쉽습니다. 지금 시작해보세요!</p>
    </div>
    <div class="facebook_login">
      <a href="/auth/facebook"><img src="/img/facebook_login_button.png"></a>
    </div>
    <!-- Content ends -->
  </div>
</section>