<section id="scroller" class="overflow">
  <div class="content_login">
    <!-- Content start -->
    <div class="my_profile">
        <h2>My profile</h2>
        <a href="<%= profileUrl %>" class="my_name" title="페이스북 이동" target="_balnk"><img src="<%= photos%>" align="center" width="50px" height="50px">&nbsp<%= displayName %>&nbsp<a/>
        <a href="/logout" title="로그아웃"><img src="./img/logout_icon.png" width="20px" height="20px"></a>
    </div>
    <div class="chat_start">
        <p>현재 프로필로 대화를 시작합니다.</p>
        <p>시작을 눌러 자유롭게 대화해보세요!</p><br />
        <a href="/chat" class="chat_button">Chat Start</a>
    </div>
    <!-- Content end -->
  </div>
</section>
