<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="msapplication-tap-highlight" content="no" />

	<title>TalkingLock</title>
	<link rel="shortcut icon" type="image⁄x-icon" href="img/login_icon.png">

	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/bamboo.css">

</head>

<body>

<div id="console">TalkingLock</div>

<nav id="main-nav" class="navigation overflow">
		<ul class="nav_login">
				<a href="/auth/facebook"><img src="img/login_icon.png" align=left width="30px" height=" 30px">&nbsp;Facebook Login</a>
		</ul>
		<ul class="nav_h">
			<li><h3>My groups</h3></li>
		</ul>
		<ul>
			<li><a href="#">모바일 게임 커뮤니티</a></li>
			<li><a href="#">대학교 커뮤니티</a></li>
		</ul>
	</nav>

	<div id="container">
			<header class="primary">
				<span class="open icon">&#9776;</span>
				<hgroup><h1>TalkingLock</h1></hgroup>
			</header>

		<section id="scroller" class="overflow">
			<div id="content">
				<!-- Content start -->
				<input type="text" name="user_post" class="post">

				<!-- Content ends -->
			</div>
			<div id="content2">
			</div>
		</section>
	</div>

	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/bamboo.0.1.js"></script>

	<script>
		var site = new Bamboo();
	</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>
